@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  src: url('../fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/Poppins/Poppins-Black.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-font);
}

:root {
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --phosphor-thin-font: "Phosphor-Thin" !important;
  --phosphor-light-font: "Phosphor-Light" !important;
  --phosphor-normal-font: "Phosphor" !important;
  --phosphor-bold-font: "Phosphor-Bold" !important;
  --phosphor-fill-font: "Phosphor-Fill" !important;
  --phosphor-duotone-font: "Phosphor-Duotone" !important;
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
  --primary: #7f44e8;
  --primary-hover: #280469;
  --primary-light: #f8f4ff;
  --primary-gradient: linear-gradient(90deg, var(--secondary), var(--primary));
  --secondary: #4169E1;
  --secondary-dark: #1a2a5a;
  --secondary-light: #ecf0fc;
  --white: #ffffff;
  --black: #121212;
}

.text-gradient {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--bs-gray-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--bs-gray-900);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-700);
}

::placeholder {
  font-size: 14px;
}

body :where(p, input, .nav-link) {
  margin-bottom: 0;
}

p {
  font-size: clamp(14px, 2vw, 16px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin-bottom: 0;
  font-family: var(--poppins-font);
  font-weight: var(--weight-medium);
}


figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0;
}

figure.overlay:before {
  position: absolute;
  content: '';
  inset: 0;
  background: var(--secondary);
  z-index: 1;
  opacity: 0.2;
  transition: 0.2s ease-in-out;
}

figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

figure.contain img {
  object-fit: contain;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-size: clamp(14px, 2vw, 16px);
}

section {
  overflow: hidden;
  padding-block: 80px;
}

.webkit_box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.arrows {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #0001;
  background-color: var(--primary);
}

.arrows:after {
  color: var(--white);
  font-family: 'Phosphor-bold';
  font-size: clamp(12px, 2vw, 14px);
}

.swiper-button-prev.arrows:after {
  content: '\E058';
}

.swiper-button-next.arrows:after {
  content: '\E06C';
}

/* heading */
.heading {
  line-height: 1.2;
  position: relative;
  color: var(--black);
  margin-bottom: 40px;
  font-size: clamp(24px, 3vw, 30px);
  font-weight: var(--weight-semibold);
}

.heading.dark {
  color: var(--white);
}

.heading_pera {
  color: var(--bs-gray-600);
}

/* backgrounds */
.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-dark {
  background-color: var(--primary-hover) !important;
}

.bg-primary-light {
  background-color: var(--primary-light) !important;
}

.bg-dark {
  background-color: var(--primary-hover) !important;
}

.bg-dotted {
  --dot-color: #00000021;
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
  background-image: radial-gradient(var(--dot-color) 1.5px, transparent 1.5px), radial-gradient(var(--dot-color) 1.5px, transparent 1.5px);
}

/* text color */
.text-primary {
  color: var(--primary) !important;
}

.text-primary-dark {
  color: var(--primary-hover) !important;
}

.text-primary-light {
  color: var(--primary-light) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-secondary-dark {
  color: var(--secondary-dark) !important;
}

.text-secondary-light {
  color: var(--secondary-light) !important;
}

/* bootstrap */
.form-control {
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.2px var(--primary), 0 0 0 5px var(--primary-light) !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-size: 20px !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzIwYmIwYiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNzMuNjYsOTguMzRhOCw4LDAsMCwxLDAsMTEuMzJsLTU2LDU2YTgsOCwwLDAsMS0xMS4zMiwwbC0yNC0yNGE4LDgsMCwwLDEsMTEuMzItMTEuMzJMMTEyLDE0OC42OWw1MC4zNC01MC4zNUE4LDgsMCwwLDEsMTczLjY2LDk4LjM0Wk0yMzIsMTI4QTEwNCwxMDQsMCwxLDEsMTI4LDI0LDEwNC4xMSwxMDQuMTEsMCwwLDEsMjMyLDEyOFptLTE2LDBhODgsODgsMCwxLDAtODgsODhBODguMSw4OC4xLDAsMCwwLDIxNiwxMjhaIj48L3BhdGg+PC9zdmc+");
  border-color: #20bb0b;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-size: 20px !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iI2RjMzU0NSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0wLDE5MmE4OCw4OCwwLDEsMSw4OC04OEE4OC4xLDg4LjEsMCwwLDEsMTI4LDIxNlptLTgtODBWODBhOCw4LDAsMCwxLDE2LDB2NTZhOCw4LDAsMCwxLTE2LDBabTIwLDM2YTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDE0MCwxNzJaIj48L3BhdGg+PC9zdmc+");
  border-color: #dc3545;
}

.form-select,
::placeholder {
  color: var(--bs-gray-600) !important;
}

.form-select {
  cursor: pointer;
}

:where(input, button):focus {
  box-shadow: none !important;
}

.btn {
  width: unset;
  grid-gap: 5px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 50px;
  color: var(--white);
  align-items: center;
  display: inline-flex;
  transition: 0.2s ease-in-out;
  justify-content: center;
  font-weight: var(--weight-medium);
  font-size: clamp(14px, 2vw, 16px);
  background: var(--primary-gradient);
}

.btn.btn-lg {
  padding: 14px 28px;
  font-size: clamp(14px, 2vw, 16px);
}

.btn.btn-transparent {
  color: var(--black);
  box-shadow: none;
  background-color: transparent;
}

.btn.btn-transparent:hover {
  box-shadow: 0px 15px 15px -17px var(--primary);
  text-decoration: none !important;
  background-color: var(--primary);
}

.btn:active {
  background-color: var(--primary-hover) !important;
  color: var(--white) !important;
}

.btn:hover {
  translate: 0 -3px;
  color: var(--white) !important;
  background-color: var(--primary-hover);
  box-shadow: 0px 15px 15px -17px var(--primary);
}

.btn i {
  font-size: clamp(16px, 2vw, 18px);
}

.btn-outline {
  border: none;
  font-weight: 500;
  box-shadow: none;
  position: relative;
  color: var(--primary);
  transition: 0.2se ease;
  border: 1px solid var(--primary);
  background: var(--primary-light);
}

.btn-outline:hover {
  background: var(--primary);
  box-shadow: 0px 15px 15px -17px var(--primary);
}

.btn.active {
  color: var(--white);
  background: var(--primary);
}

.accordion {
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}

.accordion-item {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 2px 2px 20px -5px #0001;
}

.accordion-button {
  font-size: clamp(14px, 2vw, 16px);
  font-family: var(--inter-font-family);
  font-weight: var(--font-weight-semi-bold);
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  background: var(--secondary);
}

.accordion-button::after {
  content: '\E136';
  font-family: 'Phosphor';
  background: unset !important;
}

.accordion-body {
  font-size: clamp(14px, 2vw, 16px);
}

.breadcrumb {
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.breadcrumb-item.active {
  color: var(--primary);
}

.breadcrumb-item a {
  color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\E13A";
  color: var(--bs-gray-400);
  font-family: 'Phosphor';
  font-size: 14px;
  line-height: 1;
  margin-top: 3px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.form-check>* {
  cursor: pointer;
  user-select: none;
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0;
  border-radius: 3px;
  background-size: 13px;
  margin-left: 0 !important;
  border: 1px solid var(--bs-gray-300) !important;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary) !important;
  background-image: url('../images/common/check.svg');
}

.form-check {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 0;
  margin-bottom: 0;
}

.dropdown-menu {
  grid-gap: 3px;
  border-radius: 4px;
  padding-block: 10px;
  flex-direction: column;
  border-color: var(--bs-gray-200);
  box-shadow: 2px 2px 15px -5px #0002;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-item {
  font-size: 15px;
  padding: 4px 20px;
  color: var(--bs-gray-600);
  transition: 0.2s ease-in-out;
}

.dropdown-item:active {
  color: var(--white);
  background: var(--primary);
}

.dropdown-toggle::after {
  margin: 0;
  content: '\E136';
  font-size: 14px;
  vertical-align: unset;
  border: none !important;
  font-family: var(--phosphor-bold-font);
}

.border-less-list,
.border-less-list * {
  border: none;
  border-radius: 0;
}

.border-less-list .list-group-item {
  padding: 0;
}

.card {
  border: none;
}

.card-text {
  color: var(--bs-gray-600);
}

.card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav-tabs {
  border-bottom: none;
}

/* header */
header {
  border-bottom: 1px solid var(--bs-gray-200);
}

.navbar {
  padding: 0;
}

.header_action_btns {
  display: flex;
  grid-gap: 10px;
  flex: 0 0 auto;
  align-items: center;
}

.menu_offcanvas {
  width: 100%;
}

.menu_offcanvas .offcanvas-body {
  padding: 0;
  overflow: unset;
}

.navbar-brand {
  width: 160px;
  display: flex;
  height: auto;
  flex: 0 0 auto;
  margin-right: 40px;
}

.navbar-brand img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navbar-toggler {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
  background: var(--primary);
  border: none;
  color: var(--white);
}

.nav-link {
  display: flex;
  grid-gap: 6px;
  border-radius: 5px;
  align-items: center;
  padding: 0 !important;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  font-size: clamp(14px, 2vw, 16px);
}

.navbar-collapse .nav-link {
  padding: 5px 10px !important;
  justify-content: space-between;
}

.nav-link:hover {
  color: var(--primary);
}

/* hero */
.hero {
  display: flex;
  overflow: hidden;
  position: relative;
  padding-block: 40px;
  align-items: center;
}

.hero .row {
  min-height: calc(100dvh - (105.58px + 100px));
}

.hero_heading {
  font-weight: var(--weight-bold);
  font-size: clamp(32px, 4vw, 44px);
  line-height: 1.3;
  color: var(--black);
}

.hero_heading span {
  font-family: var(--poppins-font);
}

.hero_subheading {
  color: var(--bs-gray-600);
  font-size: clamp(16px, 2vw, 18px);
}

.unique-selling-points {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--bs-gray-300);
}

.unique-selling-points li {
  display: flex;
  grid-gap: 10px;
  margin-bottom: 5px;
  color: var(--bs-gray-700);
}

.unique-selling-points li i {
  font-size: 18px;
  margin-top: 5px;
  color: var(--primary);
}

.unique-selling-points .ph-seal-check {
  color: #52ce57;
}

.hero_img {
  height: 550px;
  display: flex;
  overflow: visible;
  position: relative;
  align-items: center;
  padding-top: 50px;
  justify-content: center;
}

.hero_img:before,
.hero_img:after {
  content: '';
  position: absolute;
  height: 600px;
  left: 50%;
  top: 0;
  translate: -50% 0;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
}

.hero_img:before {
  background-image: url("../images/common/hero_img.svg");
}

.hero_img:after {
  background-image: url("../images/common/hero_img_2.svg");
}

.hero_img img {
  z-index: 1;
  position: relative;
  object-fit: contain;
}

/* info-section */
.info-section {
  background: linear-gradient(90deg, var(--primary), var(--primary-hover));
}

.info-section .btn {
  background: var(--primary) !important;
}

.info-text {
  margin-bottom: 10px;
  color: var(--bs-gray-700);
  font-family: var(--poppins-font);
  font-size: clamp(14px, 2vw, 18px);
}

/* split section */
.split-section {
  padding-block: 40px;
}

.split-section-span {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--primary);
  text-transform: capitalize;
}

.split-section-heading {
  line-height: 1.3;
  color: var(--black);
  margin-bottom: 20px;
  font-size: clamp(24px, 3vw, 34px);
  font-weight: var(--weight-semibold);
}

.split-section-pera {
  margin-bottom: 30px;
  color: var(--bs-gray-600);
  font-size: clamp(14px, 2vw, 16px);
}

.split-section-img {
  border-radius: 10px;
}

/* brands */
.brand_filter {
  border: none;
  grid-gap: 10px;
  display: inline-flex;
  background: var(--white);
  border-radius: 999px;
  padding: 10px;
  box-shadow: 0 5px 30px -12px var(--bs-gray-200);
}

.brand_card {
  height: 100%;
  padding: 25px;
  grid-gap: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 30px -12px var(--bs-gray-400);
}

.brand_card:before,
.brand_card:after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 999px;
}

.brand_card:before {
  z-index: 2;
  right: -50px;
  bottom: -50px;
  background: var(--primary-gradient);
}

.brand_card:after {
  z-index: 1;
  right: -20px;
  bottom: -60px;
  background: var(--bs-gray-100);
}

.brand_card:hover {
  translate: 0 -8px;
}

.brand_card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brand_icons {
  width: 70px;
  height: 70px;
  flex: 0 0 auto;
  font-size: 30px;
  color: var(--white);
  border-radius: 50px;
  background: var(--primary-gradient);
}

.brand_card_title {
  color: var(--black);
  font-size: clamp(20px, 2vw, 22px);
  font-weight: var(--weight-semibold);
}

.brand_card_description {
  -webkit-line-clamp: 7;
  color: var(--bs-gray-600);
}

/* request demo form */
.request_demo {
  padding-block: 40px;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1572021335469-31706a17aaef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: right top;
}

.request_demo:before {
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), #7f44e851);
}

.request_demo .row {
  position: relative;
  z-index: 1;
}

.request_demo .card-title {
  margin-bottom: 20px;
  font-size: clamp(20px, 3vw, 26px);
}

.request_demo_form {
  border-radius: 10px;
  padding: 30px;
}

.request_demo_form :where(input, select, textarea) {
  font-size: 15px;
  border-radius: 10px;
  font-family: var(--poppins-font);
}

.request_demo_heading {
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--white);
  font-size: clamp(30px, 4vw, 44px);
  font-weight: var(--weight-normal);
}

.request_demo_subtitle {
  color: var(--white);
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-light);
}

.request_demo_feature_heading {
  color: var(--white);
  margin-block: 30px 15px;
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-medium);
}

.request_demo_features {
  display: grid;
  color: var(--white);
  grid-gap: 15px 25px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.request_demo_features li {
  display: flex;
  grid-gap: 8px;
  align-items: flex-start;
}

.request_demo_features i {
  margin-top: 3px;
  color: var(--primary);
  font-size: clamp(16px, 2vw, 18px);
}

/* partnership management */
.partnership-management {
  padding-block: 60px;
}

.pm-card {
  height: 100%;
  padding: 25px;
  grid-gap: 15px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 30px -12px var(--bs-gray-400);
}

.pm-card:hover {
  translate: 0 -8px;
}

.pm-card:before,
.pm-card:after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 999px;
}

.pm-card:before {
  z-index: 2;
  right: -50px;
  bottom: -50px;
  background: var(--primary-gradient);
}

.pm-card:after {
  z-index: 1;
  right: -20px;
  bottom: -60px;
  background: var(--bs-gray-100);
}

.pm-card button {
  border: none;
  display: flex;
  grid-gap: 8px;
  font-size: 14px;
  margin-top: 10px;
  align-items: center;
  background: transparent;
  text-transform: capitalize;
  font-weight: var(--weight-medium);
}

.pm-card .card-header {
  padding: 0;
  border: none;
  display: flex;
  grid-gap: 15px;
  align-items: center;
  background: transparent;
}

.pm-card .card-title {
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: var(--weight-semibold);
}

.pm-card .card-text {
  color: var(--bs-gray-600);
}

.card-icon {
  font-size: 32px;
  color: var(--primary);
}

/* testimonial */
.testimonial_card {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 30px -12px var(--bs-gray-400);
}

.testimonial_card .card-header hgroup {
  flex: 1;
}

.testimonial_card .card-header i {
  font-size: 40px;
  color: var(--primary);
}

.customer_name {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: var(--weight-semibold);
}

.customer_pation {
  font-size: 14px;
  color: var(--bs-gray-600);
  font-weight: var(--weight-medium);
}

.testimonial_card>* {
  padding: 20px;
}

.testimonial_card .card-text {
  margin-bottom: 15px;
  color: var(--bs-gray-600);
}

.testimonial_card .card-header {
  border: none;
  display: flex;
  grid-gap: 20px;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid var(--bs-gray-200);
}

.testimonial_card .card-body {
  flex: 1;
}

.testimonial_img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.rating {
  display: flex;
  margin-top: 20px;
  margin-top: auto;
}

.rated_text,
.rating_stars {
  height: 40px;
  display: flex;
  font-size: 14px;
  min-width: 40px;
  align-items: center;
  border-radius: 99px;
  color: var(--bs-orange);
  justify-content: center;
  font-family: var(--poppins-font);
  background: var(--bs-gray-100);
  font-weight: var(--weight-semibold);
}

.rated_text {
  color: var(--black);
}

.rating_stars {
  grid-gap: 5px;
  padding-inline: 15px;
}

.rating_stars i {
  font-size: 18px;
}

/* footer */
footer {
  overflow: hidden;
  padding-top: 60px;
  position: relative;
  background: linear-gradient(45deg, var(--primary-hover), var(--secondary-dark));
}

footer .navbar-brand {
  margin-bottom: 30px;
}

footer i {
  font-size: 20px;
}

footer :where(li, a) {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

footer .list-unstyled {
  display: flex;
  grid-gap: 10px;
  flex-direction: column;
}

footer h5 {
  color: var(--white);
  margin-bottom: 20px;
  font-weight: var(--weight-semibold);
}

footer a {
  color: var(--primary-light);
}

.footer_contact {
  color: var(--white);
}

.subs_form {
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;
  background: var(--white);
}

.subs_form .btn {
  padding-block: 6px;
  padding-inline: 15px;
  border-radius: 5px !important;
}

.subs_form input {
  padding-block: 5px;
  border: none;
}

.subs_text {
  margin-bottom: 10px;
  color: var(--white);
}

.social_icons {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: flex-start;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.icon figure {
  height: 16px;
  aspect-ratio: 1;
}

.google_plus figure {
  height: 25px;
  width: 25px;
}

.icon figure img {
  object-fit: contain;
}

.icon.facebook {
  background: rgba(24, 119, 242, 1);
}

.icon.twitter {
  background: rgba(93, 169, 221, 1);
}

.icon.google_plus {
  background: rgba(225, 56, 56, 1);
}

.icon.linkedin {
  background: rgba(2, 80, 177, 1);
}

.icon.pinterest {
  background: rgba(230, 0, 35, 1);
}

.icon.instagram {
  background: linear-gradient(216deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.icon.instagram figure {
  width: 20px;
  height: 20px;
}

.copyright {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  color: var(--white);
  padding-block: 20px;
  background: #2f1f7d;
}


/* benifits */
.benefit_card {
  background: transparent;
}

.benefit_icon {
  font-size: clamp(35px, 3vw, 42px);
  color: var(--primary);
}

.benefit_card .card-title {
  font-weight: var(--weight-semibold);
}

/* single solution */
.company_img {
  height: 60px;
  padding: 10px;
  opacity: 0.4;
}

.pt_badge {
  padding: 15px 20px;
  border-radius: 50px;
  color: var(--bs-gray-600);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-medium);
  border: 1px solid var(--bs-gray-200);
  background-color: var(--bs-gray-100);
}

/* features */
.feature_large_card .card-body {
  display: flex;
  grid-gap: 20px;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
}

.feature_card {
  padding: 25px;
  box-shadow: 0 5px 30px -12px var(--bs-gray-400);
  border-radius: 10px;
  height: 100%;
}

.feature_card .card-title {
  font-weight: var(--weight-semibold);
}

.feature_icon {
  height: 60px;
  flex: 0 0 auto;
  width: 60px;
  background: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--primary);
  font-size: 28px;
  margin-bottom: 20px;
}

.feature_card_img {
  margin-inline: auto;
  flex: 1;
}

/* testimonial quotes slider */
.testimonial_quotes_slider i {
  color: var(--primary);
  font-size: clamp(50px, 4vw, 70px);
}

.quote {
  font-size: clamp(20px, 2vw, 22px);
  color: var(--bs-gray-900);
}

.testimonial_quotes_slider :where(.swiper-button-next, .swiper-button-prev):after {
  color: var(--primary-hover);
  font-size: clamp(20px, 2vw, 25px);
  font-weight: var(--weight-bold);
  font-family: var(--phosphor-bold-font);
}

.testimonial_quotes_slider .swiper-button-prev:after {
  content: '\E058';
}

.testimonial_quotes_slider .swiper-button-next:after {
  content: '\E06C';
}

/* case studies */
.blog_card {
  overflow: hidden;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 5px 30px -12px var(--bs-gray-400);
}

.blog_tag text-gradient {
  color: var(--primary);
  font-weight: var(--weight-medium);
  text-transform: capitalize;
  font-size: 14px;
}

.blog_img {
  height: 200px;
}

.blog_title {
  -webkit-line-clamp: 2;
  color: var(--black);
  font-weight: var(--weight-semibold);
  text-transform: capitalize;
  font-size: clamp(18px, 2vw, 20px);
  margin-block: 10px;
}

.blog_description {
  color: var(--bs-gray-600);
  font-size: clamp(14px, 2vw, 16px);
  -webkit-line-clamp: 3;
  margin-bottom: 30px;
}

/* responsive */
@media (max-width: 992px) {
  .menu_offcanvas {
    max-width: 300px;
  }

  .menu_offcanvas .offcanvas-body {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-collapse .nav-link,
  .dropdown-item {
    border-radius: 0;
    padding: 10px 25px !important;
  }

  .navbar-collapse .nav-link:hover {
    color: var(--white);
    background: var(--primary);
  }

  .dropdown-menu {
    border: 0;
    box-shadow: unset;
    margin-top: 0 !important;
    background: var(--bs-gray-100);
    border-block: 1px solid var(--bs-gray-300);
  }

  .header_action_btns {
    width: 100%;
    grid-gap: 4px;
    align-items: unset;
    padding: 10px 20px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  section {
    padding-block: 60px;
  }

  .info-section {
    background: linear-gradient(-45deg, var(--primary), var(--black));
  }

  .split-section-img {
    height: 200px;
    border-radius: 10px;
  }
}

@media (max-width: 575px) {
  .feature_large_card .card-body {
    grid-gap: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .request_demo_form {
    padding: 20px;
  }
}